{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}

        {{ range .Data.Pages }}
            <article class="post">

              <header class="post-header">
                <h1><a href="{{.RelPermalink }}">{{ .Title }}</a></h1>
                <div class="post-time">{{ .Date.Format "02 January 2006" }}, {{ .ReadingTime }} minutes</div>
              </header>

              <div class="post-after">
                  <div class="tags">
                    {{ range .Params.tags }}
                        <a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                  </div>
              </div>
            </article>
        {{ end }}
      </div>

    </div>
  </div>

  {{ partial "footer.html" . }}
